@using Grid = TenFour.CommonContent.Web.Utilities.UIComponent.MaterialUi.Constants.GridLayout
@using Typography = TenFour.CommonContent.Web.Utilities.UIComponent.MaterialUi.Constants.Typography

<section class="@Grid.NoSpacing top-carriers-chart">
	<div class="top-carriers-chart" id="top-carriers"></div>
</section>