@using Grid = TenFour.CommonContent.Web.Utilities.UIComponent.MaterialUi.Constants.GridLayout
@using Typography = TenFour.CommonContent.Web.Utilities.UIComponent.MaterialUi.Constants.Typography

<section class="@Grid.NoSpacing carrier-performance-chart">
	<div class="carrierPerformanceChart" id="carrier-over-time"></div>
</section>